.h{
    margin-bottom: 120px;
}
.form-container{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 332;
    display: flex;
    justify-content: center;
    background-color: #c7b5b5;
    width: 500px;
    padding: 50px;
    border-radius: 25px;
}

.form-container input {
    width: 400px;
    border-radius: 5px;
}